.jumbotron {
  background-color:#F0FFFF;
}

#dreams{
font-weight: bold;
text-align: center;
text-decoration-color: #	48D1CC ;
text-shadow: 2px 2px 5px #777;
}

.thumbnail{
  border-color: transparent;
}
